<html lang="en">

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../assets/stylesheets/fontawesome.css">
<link rel="stylesheet" href="/blog/app/assets/stylesheets/owl.css">
<link rel="stylesheet" href="../../assets/stylesheets/animate.css">
<link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="header-text">
          <h6>Anime Love</h6>
          <h2>DISCUSS, DEBATE & THEORIZE TOP ANIMES.</h2>
          <p>Come join our discussion about our most beloved anime! From the most under-rated anime to the most popular airing anime! All types of people are here to join in on what you like and dislike about your favourite anime!</p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
            <a class="twitter-timeline" data-lang="en" data-width="500" data-height="500" data-theme="dark" href="https://twitter.com/Crunchyroll?ref_src=twsrc%5Etfw">Tweets by Crunchyroll</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>          </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<div class="categories-collections">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="categories">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <div class="line-dec"></div>
                <h2>Browse Through Our Most Discussed <em>Anime</em> Here.</h2>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="item">
                <div class="icon">
                  <%= image_tag 'Chainsaw Man.jpg' %>
                </div>
                <h4>Chainsaw Man</h4>
                <div class="icon-button">
                  <a href="/animes/1"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="item">
                <div class="icon">
                  <%= image_tag 'one-piece-merged-volumes-covers.jpg' %>
                </div>
                <h4>ONE PIECE</h4>
                <div class="icon-button">
                  <a href="/animes/8"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="item">
                <div class="icon">
                  <%= image_tag 'Bleach.jpg' %>
                </div>
                <h4>BLEACH: Thousand-Year Blood War</h4>
                <div class="icon-button">
                  <a href="/animes/11"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="item">
                <div class="icon">
                  <%= image_tag 'The Eminence in Shadow.jpg' %>
                </div>
                <h4>The Eminence in Shadow</h4>
                <div class="icon-button">
                  <a href="/animes/12"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="item">
                <div class="icon">
                  <%= image_tag 'Shinobi no Ittoki.jpg' %>
                </div>
                <h4>Shinobi no Ittoki</h4>
                <div class="icon-button">
                  <a href="/animes/13"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="item">
                <div class="icon">
                  <%= image_tag 'My-Hero-Academia-Poster.jpg' %>
                </div>
                <h4>My Hero Academia Season 6</h4>
                <div class="icon-button">
                  <a href="/animes/14"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      </body>
</html>